* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #a78bfa;
  --text-color: #111111;
  --background-color: #fcfaff;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}
h1 {
  margin-bottom: 20px;
  font-size: clamp(2rem, 6vw, 4rem);
  color: var(--primary-color);
}
header {
  padding: 20px 60px;
  background-color: white;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}
nav a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
  transition: color 0.3s ease;
}

nav a:hover {
  color: var(--primary-color);
}
#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
  text-align: center;
}
#home a:hover {
  background-color: #8b5cf6;
}
.team-grid {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 40px;
}
.profile-card {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 280px;
  text-align: center;
}
.profile-card img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}
.profile-card h3 {
  color: var(--primary-color);
  margin-bottom: 10px;
  font-size: 24px;
}
.role {
  color: #666;
  font-size: 15px;
  margin-bottom: 20px;
}
.profile-card a {
  display: inline-block;
  background: var(--primary-color);
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  text-decoration: none;
  transition: 0.3s;
}
.profile-card a:hover {
  background: #8b5cf6;
}
.profile-card {
  transition: 0.3s;
}
.profile-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}
.initiatives-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 40px;
}
.initiative-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}
.initiative-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}
.featured {
  grid-column: span 2;
}
@media (max-width: 900px) {
  .initiatives-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .initiatives-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
nav {
  flex-direction: column;
  gap: 20px;
  text-align: centre;
}
nav ul {
  flex-direction: column;
  gap: 15px;
}
header {
  padding: 20px;
}
